<p id="notice"><%= notice %></p>

<p>
  <b>Album:</b>
  <%= @rating.album %>
</p>

<p>
  <b>Rating:</b>
  <%= @rating.rating %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
