<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @music.artist %>
</p>

<p>
  <b>Album:</b>
  <%= @music.album %>
</p>


<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
