<p id="notice"><%= notice %></p>

<p>
  <b>Album:</b>
  <%= @review.album %>
</p>

<p>
  <b>Name:</b>
  <%= @review.name %>
</p>

<p>
  <b>Reviewbody:</b>
  <%= @review.reviewbody %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
